{% load static %}

<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% include "partials/title-meta.html" with title="Login" %}
{% include "partials/head-css.html" %}

<body class="loading authentication-bg authentication-bg-pattern">

    <div class="account-pages my-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-4">
                    <div class="text-center">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'images/cannabis_logo512.png' %}" alt="Logo" height="102" class="mx-auto">
                        </a>
                        <p class="welcome-back-text text-muted mt-2 mb-4">Welcome Back</p>
                    </div>

                    <div class="card">
                        <div class="card-body p-4">
                            <div class="text-center mb-4">
                                <h4 class="text-uppercase mt-0">Sign In</h4>
                            </div>

                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-danger">{{ message }}</div>
                                {% endfor %}
                            {% endif %}

                            <form method="POST">
                                {% csrf_token %}

                                <div class="mb-3">
                                    <label for="username" class="form-label">Email Address</label>
                                    <input class="form-control" type="text" name="username" id="username" required placeholder="Enter your email address">
                                </div>

                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <div class="input-group">
                                        <input class="form-control" type="password" name="password" id="password" required placeholder="Enter your password">
                                        <span class="input-group-text toggle-password">
                                            <i class="fa fa-eye" id="togglePasswordIcon"></i>
                                        </span>
                                    </div>
                                </div>
                                

                                <div class="mb-3 d-grid text-center">
                                    <button class="btn btn-primary" type="submit" style="background: #386641;"> Log In </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- <div class="row mt-3">
                        <div class="col-12 text-center">
                            {% comment %} <p><a href="{% url 'password_reset' %}" class="text-muted"><i class="fa fa-lock me-1"></i> Forgot your password?</a></p> {% endcomment %}
                            <p class="text-muted">Don't have an account? <a href="{% url 'register' %}" class="text-dark"><b>Sign Up</b></a></p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    {% include "partials/vendor.html" %}
    <script src="{% static 'js/app.min.js' %}"></script>
    {% include "partials/footer.html" %}

    <style>
        .welcome-back-text {
            font-weight: bold;
            font-size: 1.5em; /* Adjust the font size as needed */
        }
    </style>
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const togglePasswordIcon = document.getElementById('togglePasswordIcon');
        const passwordField = document.getElementById('password');
    
        togglePasswordIcon.addEventListener('click', function () {
            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', type);
    
            // Toggle the eye icon
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });
    });
    </script>
    