<!-- Footer Start -->
<footer class="footer" style="background-color: white;"> <!-- Change #333 to your desired color -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center" style="height: 17px;">
                <p class="copyright-text" style="margin-top: -7px; color: #386641;">&copy; 2025 Cannabis AI. All rights reserved.</p>
                {% if not user.is_authenticated %}
                <div class="footer-links" style="margin-top: -15px; display: flex; justify-content: center; align-items: center;">

                    <a href="terms.html" style="color: #386641; margin: 0 10px;">Terms</a>

                    <span style="color: #386641; margin: 0 10px;">|</span>

                    <a href="privacy-policy.html" style="color: #386641; margin: 0 10px;">Privacy Policy</a>

                </div>
                
                {% endif %}
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->
