{% extends "partials/base.html" %}

{% load static %}

{% block title %}Create Page{% endblock title %}

{% block extra_css %}
<!-- Plugins css -->
<link href="{% static 'libs/quill/quill.core.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/quill/quill.bubble.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/quill/quill.snow.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block topbar %}
    {% include "partials/topbar.html" with pagetitle="Create Page" %}
{% endblock topbar %}

{% block content %}
<div class="row">
   <div class="col-12">
    <div class="card">
        <div class="card-body p-2">
            <div class="row">
                <div class="col-md-6"><h3>Create Page</h3></div>
            </div>
        </div>
    </div>
   </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
        <form method="POST" id="cms-form">
            {% csrf_token %}
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-6 form-group">
                        <h4>Title</h4>
                        <input type="text" name="title" value="{{ form.title.value|default_if_none:'' }}"
                        class="form-control" style="width: 100%; padding: 8px; font-size: 14px; border: 1px solid #ccc; border-radius: 5px; display: block;" >
                        {% if form.title.errors %}
                            {% for error in form.title.errors %}
                                <span class="invalid-feedback" style="display: block;">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-6 form-group">
                        <h4>Type</h4>
                        <select name="type_id" class="form-control" style="width: 100%; padding: 8px; font-size: 14px; border: 1px solid #ccc; border-radius: 5px; display: block;">
                            <option value="">-- Select Type --</option>
                            <option value="2" {% if form.type_id.value|default_if_none:'' == '2' %}selected{% endif %}>Terms of Service</option>
                            <option value="1" {% if form.type_id.value|default_if_none:'' == '1' %}selected{% endif %}>Privacy Policy</option>
                            <option value="3" {% if form.type_id.value|default_if_none:'' == '3' %}selected{% endif %}>About Us</option>
                            <option value="4" {% if form.type_id.value|default_if_none:'' == '4' %}selected{% endif %}>FAQ</option>
                        </select>
                        {% if form.type_id.errors %}
                            {% for error in form.type_id.errors %}
                                <span class="invalid-feedback" style="display: block;">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <h4>Description</h4>
                    <input type="hidden" name="description" id="hidden-description" value="{{ form.description.value|default_if_none:'' }}">
                    <div id="snow-editor" style="height: 300px;"></div> <!-- end Snow-editor-->
                    <div id="description-error" class="invalid-feedback" style="display: none;">The description is required.</div>
                    {% if form.description.errors %}
                        {% for error in form.description.errors %}
                            <span class="invalid-feedback" style="display: block;">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-soft-primary waves-effect waves-light mt-3">Submit</button>
            </div> <!-- end card-body-->
        </form>
        </div> <!-- end card-->
    </div><!-- end col -->
</div>

{% include "partials/footer.html" %}
{% endblock content %}

{% block extra_js %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- jQuery Validation Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

<!-- Plugins js -->
<script src="{% static 'libs/quill/quill.min.js' %}"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Initialize Quill
    const quill = new Quill("#snow-editor", {
        theme: "snow",
        modules: {
            toolbar: [
                [{ font: [] }, { size: [] }],
                ["bold", "italic", "underline", "strike"],
                [{ color: [] }, { background: [] }],
                [{ script: "super" }, { script: "sub" }],
                [{ header: [!1, 1, 2, 3, 4, 5, 6] }, "blockquote", "code-block"],
                [{ list: "ordered" }, { list: "bullet" }, { indent: "-1" }, { indent: "+1" }],
                ["direction", { align: [] }],
                ["link", "image", "video"],
                ["clean"]
            ]
        }
    });

    // Set initial content for Quill editor
    const initialContent = `{{ form.description.value|default_if_none:''|safe }}`;
    quill.root.innerHTML = initialContent;

    // Function to check if the Quill editor content is empty
    function isQuillEmpty(quill) {
        const text = quill.root.innerHTML.replace(/<[^>]*>/g, '').trim();
        return text === '';
    }

    // On form submit, copy HTML from editor to hidden input
    document.getElementById("cms-form").addEventListener("submit", function (e) {
        const descriptionInput = document.getElementById("hidden-description");
        descriptionInput.value = quill.root.innerHTML;

        // Check if the description is empty
        if (isQuillEmpty(quill)) {
            e.preventDefault(); // Prevent form submission
            $('#description-error').show(); // Show error message
            $('#snow-editor').addClass('is-invalid'); // Add error class to the editor
        } else {
            $('#description-error').hide(); // Hide error message
            $('#snow-editor').removeClass('is-invalid'); // Remove error class from the editor
        }
    });

    // jQuery Validation
    jQuery.noConflict();
    jQuery(document).ready(function ($) {
        jQuery('#cms-form').validate({
            onkeyup: function (element) {
                jQuery(element).valid();
            },
            rules: {
                title: {
                    required: true,
                },
                type_id: {
                    required: true,
                },
                description: {
                    required: function() {
                        return isQuillEmpty(quill);
                    }
                },
            },
            messages: {
                title: {
                    required: "The title is required."
                },
                type_id: {
                    required: "The type is required."
                },
                description: {
                    required: "The description is required."
                },
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                if (element.attr("name") === "description") {
                    error.insertAfter("#snow-editor");
                } else {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                }
            },
            highlight: function (element, errorClass, validClass) {
                element = $(element); // Wrap element as a jQuery object
                if (element.attr("name") === "description") {
                    $('#snow-editor').addClass('is-invalid');
                } else {
                    element.addClass('is-invalid');
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                element = $(element); // Wrap element as a jQuery object
                if (element.attr("name") === "description") {
                    $('#snow-editor').removeClass('is-invalid');
                } else {
                    element.removeClass('is-invalid');
                }
            }
        });
    });
  });
</script>
{% endblock extra_js %}
