{% extends "partials/base.html" %}

{% load static %}

{% block title %}Change Password{% endblock title %}

{% block extra_css %}
<!-- Add any extra CSS here if needed -->
{% endblock extra_css %}

{% block topbar %}
    {% include "partials/topbar.html" with pagetitle="Change Password" %}
{% endblock topbar %}

{% block content %}

<!-- end row -->
<div class="row">
   <div class="col-12">
    <div class="card">
        <div class="card-body p-2"> 
            <div class="row">
                <div class="col-md-12"><h3 >Change Password</h3></div>
            </div>
        </div>
    </div>
   </div> 
</div>

                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-success">{{ message }}</div>
                                {% endfor %}
                            {% endif %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <form method="POST" action="{% url 'change-password-page' %}">
                {% csrf_token %}
            <div class="card-body">
                <div class="row mb-4" >
                <div class="col-6">
                    <h4>New Password</h4> 
                    <input type="text" name="new_password" placeholder="password" 
                    style="width: 100%; padding: 8px; font-size: 14px; border: 1px solid #ccc; border-radius: 5px; display: block;">
                </div>
                <div class="col-6"> 
                    <h4>Confirm Password</h4> 
                    <input type="text" name="confirm_password" placeholder="password" 
                    style="width: 100%; padding: 8px; font-size: 14px; border: 1px solid #ccc; border-radius: 5px; display: block;">
                </div>
                </div>
                <div class="row mb-4" >
                
                
                </div>
                <button type="submit" class="btn btn-soft-primary waves-effect waves-light mt-3">submit</button> 
            </div> <!-- end card-body-->
        </form>
        </div> <!-- end card-->
    </div><!-- end col -->
</div>

{% include "partials/footer.html" %}

{% endblock content %}

{% block extra_js %}
<script>
    
    function viewUserDetails(userId) {
        // Implement the logic to view user details, e.g., redirect to a details page
        window.location.href = '/user/details/' + userId;
    }
</script>
{% endblock extra_js %}