{% extends "partials/base.html" %}

{% load static %}

{% block title %}Users contact{% endblock title %}

{% block extra_css %}
<!-- Add DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% endblock extra_css %}

{% block topbar %}
    {% include "partials/topbar.html" with pagetitle="Users contact" %}
    {% endblock topbar %}
    
    {% block content %}
    
<div class="row">
    <div class="col-sm-12">
        <table id="usersTable" class="table table-bordered table-sm"
        data-users-exist="{% if users %}true{% else %}false{% endif %}" 
        >
            <thead>
                <tr style="background: #386641; color: white; font-size: 16px;">
                    <th style="padding: 15px 25px; text-align: left; width:4%">Id</th>
                    <th style="padding: 15px 25px; text-align: left; width:4%">Fullname</th>
                    <th style="padding: 15px 25px; text-align: left; width:3%">Email</th>
                    <th style="padding: 15px 25px; text-align: left; width:3%">Description</th>
                    <th style="padding: 15px 25px; text-align: left; width:3%">Created At</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr style="{% if forloop.counter|divisibleby:2 %}background: #f2f2f2;{% endif %}
                           transition: 0.3s;"
                    onmouseover="this.style.background='#d6e4f0'"
                    onmouseout="this.style.background='{% if forloop.counter|divisibleby:2 %}#f2f2f2{% else %}#ffffff{% endif %}'">
                    <td style="padding: 15px 25px; text-align: left;">{{ user.id }}</td>
                    <td style="padding: 15px 25px; text-align: left;">{{ user.full_name }}</td>
                    <td style="padding: 15px 25px; text-align: left;" class="text-primary">{{ user.email }}</td>
                    <td style="padding: 15px 25px; text-align: left;" class="text-primary">{{ user.description }}</td>
                    <td style="padding: 15px 25px; text-align: left;">{{ user.created_at|date:"F j, Y, g:i a" }}</td>
                </tr>
                {% endfor %}
                {% if users|length == 0 %}
                <tr>
                    <td colspan="5" style="text-align: center; padding: 15px; font-size: 16px;">No users found.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<!-- end row -->

{% include "partials/footer.html" %}

{% endblock content %}

{% block extra_js %}
<!-- Add DataTables JS -->
<script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function() {
        const hasUsers = $('#usersTable').data('users-exist');
        if(hasUsers){
        $('#usersTable').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    }
    });

    function viewUserDetails(userId) {
        // Implement the logic to view user details, e.g., redirect to a details page
        window.location.href = '/user/details/' + userId;
    }
</script>
{% endblock extra_js %}
