{% extends "partials/base.html" %}

{% load static %}

{% block title %}Packages{% endblock title %}

{% block extra_css %}

{% endblock extra_css %}

{% block topbar %}
    {% include "partials/topbar.html" with pagetitle="Packages" %}
{% endblock topbar %}

{% block content %}

    <div class="mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="text-center">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'images/cannabis_logo512.png' %}" alt="Logo" height="102" class="mx-auto">
                        </a>

                        <h3 class="mt-4">Stay tunned, Packages page coming very soon</h3>
                        <h4 >We're making the system more awesome.</h4>

                    </div>
                </div>
            </div>
            <div class="row mt-5 justify-content-center">
                <div class="col-md-8 text-center">
                    <div data-countdown="2025/05/19" class="counter-number"></div>
                </div> <!-- end col-->
            </div> <!-- end row-->

        </div>
    </div>
<!-- end row -->
        
{% include "partials/footer.html" %}

{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}