
{% extends "partials/base.html" %}

{% load static %}


{% block extra_css %}
<!-- Add any extra CSS here if needed -->
{% endblock extra_css %}

{% block topbar %}
    {% include "partials/topbar.html" with pagetitle="Profile" %}
{% endblock topbar %}

{% block content %}

<div class="row">
   <div class="col-12">
    <div class="card">
        <div class="card-body p-2"> 
            <div class="row">
                <div class="col-md-12"><h3 >Uplaod Cannabis</h3></div>
            </div>
        </div>
    </div>
   </div> 
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="card-body">
                
                <div class="row mb-4" >
                <div class="col-6"> 
                    <h4>Upload file</h4> 
                        <input type="file" name="cannabis_file" 
                        style="width: 100%; padding: 8px; font-size: 14px; border: 1px solid #ccc; border-radius: 5px; display: block;">

                </div>
                <div class="col-6">
                    <h4>Prompt</h4> 
                    <input type="text" name="prompt" 
                    style="width: 100%; padding: 8px; font-size: 14px; border: 1px solid #ccc; border-radius: 5px; display: block;">
                </div>
                <div class="col-6">
                        <h4>Type of file</h4>
                        <select name="file_type" class="form-control" style="width: 100%; padding: 8px; font-size: 14px; border: 1px solid #ccc; border-radius: 5px; display: block;">
                            <option value="">-- Select Type --</option>
                            <option value="jpg" >jpg</option>
                            <option value="png">png</option>
                            <option value="webp">webp</option>
                        </select>
                </div>
                </div>
                {% if response %} 
                <p>{{ response }}</p>
                {% endif %}
                <button type="submit" class="btn btn-soft-primary waves-effect waves-light mt-3">submit</button> 
            </div> <!-- end card-body-->
        </form>
        </div> <!-- end card-->
    </div><!-- end col -->
</div>

<!-- end row -->

{% include "partials/footer.html" %}

{% endblock content %}

{% block extra_js %}
<script>
    
    function viewUserDetails(userId) {
        // Implement the logic to view user details, e.g., redirect to a details page
        window.location.href = '/user/details/' + userId;
    }
</script>
{% endblock extra_js %}